Django==1.4.2
Markdown==2.2.1
PIL==1.1.7
South==0.7.6
boto==2.6.0
django-athumb==2.0
-e git://github.com/django-debug-toolbar/django-debug-toolbar.git@aeb45f2fea083fb182f5fd33e7c4980780b1ea81#egg=django_debug_toolbar-dev
django-pylibmc-sasl==0.2.4
-e git://github.com/jamstooks/django-s3-folder-storage.git@fd959a99b3a62b64d9e73534538efeb016fd4dc7#egg=django_s3_folder_storage-dev
django-storages==1.1.5
-e git://github.com/alex/django-taggit.git@36f6dabcf10e27c7d9442a94243d4189f2a4f121#egg=django_taggit-dev
gunicorn==0.15.0
-e git://github.com/rhec/django-html5.git@c4a76e02744422c3305f01ca361ab4b0cdcd1198#egg=html5-dev
psycopg2==2.4.5
pylibmc==1.2.3
python-memcached==1.48
wsgiref==0.1.2
