{% extends "base.html" %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed">
		<h1>Dashboard</h1>
	</div>

	<div data-role="content">
		<div class="icon-grid" data-role="navbar" data-iconpos="top">
		    	<ul>
		    	    <li><a href="{% url add-request %}"   class="ui-btn" data-transition="flow"><i class="icon-plus"></i>Submit</a></li>
		    	    <li><a href="{% url map-requests %}"      class="ui-btn" data-transition="flow"><i class="icon-map-marker"></i>Map</a></li>
		    	    <li><a href="{% url list-requests %}"     class="ui-btn" data-transition="flow"><i class="icon-list"></i>List</a></li>
		    	    {# <li><a href="#search"   class="ui-btn" data-transition="flow"><i class="icon-search"></i>Search</a></li> #}
		    	    <li><a href="#profile"  class="ui-btn" data-transition="flow"><i class="icon-user"></i>Profile</a></li>
		    	    <li><a href="#settings" class="ui-btn" data-transition="flip"><i class="icon-cogs"></i>Settings</a></li>
		    	    <li><a href="#login"	class="ui-btn" data-transition="flow"><i class="icon-signout"></i>Logout</a></li>
		    	</ul>
		</div>
	</div>
{% endblock content %}