{% extends "base.html" %}
{% load markup %}
{% block id %}detail{% endblock id %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>{{ fix.description|truncatewords:5 }}</h1>
		<a href="/" data-rel="back" data-icon="arrow-l">Back</a>
		<div id="status-select" class="ui-btn-right">
			<select name="select-choice-4" id="select-choice-4" data-theme="b" tabindex="-1">
				<option {% if fix.status = 0 %}selected="selected"{% endif %} id="open" value="0">Open</option>
				<option {% if fix.status = 1 %}selected="selected"{% endif %} id="taken" value="1">Taken</option>
				<option {% if fix.status = 2 %}selected="selected"{% endif %} id="done" value="2">Done</option>
			</select>
		</div>
	</div>
	<br>
	<div class="carousel" id="{{ fix.id }}">
		<ul style="height: {{ fix.image.height }};">
			<li><img src="{{ fix.image.url }}" alt="" /></li>
			<li><img id="{{ fix.id }}-map" /></li>
		</ul>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			{# <li class="ui-grid-a"> #}
				{# <p class="muted ui-block-a">Status</p> #}
				{# <p class="ui-block-b"><strong>{{ fix.get_status_display }}</strong></p> #}
			{# </li> #}
			<li>
				<h3>Description</h3>
				{{ fix.description|markdown }}
			</li>
			<li>
				<h3>Tags</h3>
				<p>{% for tag in fix.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}</p>
			</li>
		</ul>
	</div>

	{# The following code might be nice... #}
	{% with fix.nearby as nearby_fixes %}
		{% if nearby_fixes %}
			{% for nearby_fix in nearby_fixes %}
		    	{{ nearby_fix }}
		    {% endfor %}
		{% endif %}
	{% endwith %}

	<script type="text/javascript">
		var width = $(document).width()
		var height = Math.ceil({{ fix.image.height }}/{{ fix.image.width }} * $(document).width());
		url = GMaps.staticMapURL({
  			size: [width, height],
  			lat: {{ fix.latitude }},
  			lng: {{ fix.longitude }},
  			scale: 2,
  			markers: [
  			  {lat: {{ fix.latitude }}, lng: {{ fix.longitude }}},
  			  {lat: {{ latitude }}, lng: {{ longitude }},
  			    color: 'blue'}
  			]
		});

		$('#{{ fix.id }}-map').attr('src', url);
		$('#{{ fix.id }} img').width($(document).width() - 20);

		$('#detail').live('pageshow', function() {
			window.swipe{{ fix.id }} = new Swipe(
				document.getElementById('{{ fix.id }}')
			);
		})

		$('select').on('change', function(e) {
			$.post('{% url update-request fix.id %}', { 'status': $(this).val(), }, function(data){
				
			})
		})
	</script>
{% endblock content %}