{% extends "base.html" %}

{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>{{ fix.description|truncatewords:5 }}</h1>
		<a href="/" data-rel="back"><i class="icon-caret-left"></i> Back</a>
		<div class="ui-btn-right">
			<select name="select-choice-4" id="select-choice-4" data-theme="b" data-native-menu="false" tabindex="-1">
				<option data-placeholder="true">{{ fix.get_status_display }}</option>
				<option {% if fix.status = 0 %}disabled="disabled"{% endif %} id="open" value="0">Open</option>
				<option {% if fix.status = 1 %}disabled="disabled"{% endif %} id="taken" value="1">Taken</option>
				<option {% if fix.status = 2 %}disabled="disabled"{% endif %} id="done" value="2">Done</option>
			</select>
		</div>
	</div>

	{{ fix.get_status_display }}
	<br>
	<img src="{{ fix.image.url }}" alt="">
	<div id="map"></div>
	<div data-role="content">
		
		<br>
		{{ fix.description|safe }}
		<br>
		<input type="range" name="urgency_slider" id="submit_urgency_slider" class="slider" value="{{ fix.urgency }}" min="0" max="10" />

		{{ fix.nearby }}
	</div>

	{# The following code might be nice... #}
	{% with fix.nearby as nearby_fixes %}
		{% if nearby_fixes %}
			{% for nearby_fix in nearby_fixes %}
		    	{{ nearby_fix }}
		    {% endfor %}
		{% endif %}
	{% endwith %}

	<script type="text/javascript">
		url = GMaps.staticMapURL({
  			size: [610, 300],
  			lat: {{ fix.latitude }},
  			lng: {{ fix.longitude }},
  			scale: 2,
  			markers: [
  			  {lat: {{ fix.latitude }}, lng: {{ fix.longitude }}},
  			  {lat: {{ latitude }}, lng: {{ longitude }},
  			    color: 'blue'}
  			]
		});

		$('<img/>').attr('src', url).width('500px').appendTo('#map');

		$(document).bind('mobileinit',function(){
   			$.mobile.selectmenu.prototype.options.nativeMenu = false;
		});

		$('select').on('change', function(e) {
			$.post('{% url update-request fix.id %}', { 'status': $(this).val(), }, function(data){
				
			})
		})
	</script>
{% endblock content %}