	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>List</h1>
		<a href="#dashboard" data-transition="pop"><i class="icon-th"></i></a>
		<a href="#submit" data-transition="slidedown"><i class="icon-plus"></i> Submit</a>
	</div>

	<div data-role="content">

		<!-- TODO: Add iScroll/pull-to-refresh support for listview -->
		<ul data-role="listview">
			<li data-role="list-divider">Your fixes</li>
			<li>
				<a href="#detail" class="ui-link-inherit" data-transition="slide">
					<img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/album-p.jpg" class="ui-li-thumb">
					<h3 class="ui-li-heading">Broken sink</h3>
					<p class="muted ui-li-desc">(0.3 miles from your location)</p>
				</a>
			</li>
			<li>
				<a href="#detail" class="ui-link-inherit" data-transition="slide">
					<img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/album-p.jpg" class="ui-li-thumb">
					<h3 class="ui-li-heading">Door hinge needs grease</h3>
					<p class="muted ui-li-desc">(0.6 miles from your location)</p>
				</a>
			</li>
			<li>
				<a href="#detail" class="ui-link-inherit" data-transition="slide">
					<img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/album-p.jpg" class="ui-li-thumb">
					<h3 class="ui-li-heading">Sprinkler leaking</h3>
					<p class="muted ui-li-desc">(1.2 miles from your location)</p>
				</a>
			</li>
			<li data-role="list-divider">Nearby fixes</li>
			<li>
				<a href="#detail" class="ui-link-inherit" data-transition="slide" data-transition="pop">
					<img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/album-p.jpg" class="ui-li-thumb">
					<h3 class="ui-li-heading">Broken sink</h3>
					<p class="muted ui-li-desc">(0.3 miles from your location)</p>
				</a>
			</li>
			<li>
				<a href="#detail" class="ui-link-inherit" data-transition="slide">
					<img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/album-p.jpg" class="ui-li-thumb">
					<h3 class="ui-li-heading">Door hinge needs grease</h3>
					<p class="muted ui-li-desc">(0.6 miles from your location)</p>
				</a>
			</li>
			<li>
				<a href="#detail" class="ui-link-inherit" data-transition="slide">
					<img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/album-p.jpg" class="ui-li-thumb">
					<h3 class="ui-li-heading">Sprinkler leaking</h3>
					<p class="muted ui-li-desc">(1.2 miles from your location)</p>
				</a>
			</li>
		</ul>
	</div>

	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="#map" data-transition="none"><i class="icon-map-marker"></i> Map</a></li>
				<li><a href="#list" class="ui-btn-active ui-state-persist" data-transition="none"><i class="icon-list"></i> List</a></li>
			</ul>
		</div>
	</div>