{% extends "base.html" %}
{% load thumbnail places %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>List</h1>
		<a href="/" data-transition="pop"><i class="icon-th"></i></a>
		<a href="{% url add-request %}" data-transition="slidedown"><i class="icon-plus"></i> Submit</a>
	</div>

	<div data-role="content">

		<!-- TODO: Add iScroll/pull-to-refresh support for listview -->
		<ul data-role="listview">
			<li data-role="list-divider">All fixes</li>
			{% for req in requests %}
				<li>
					<a href="{% url detail-request req.id %}" class="ui-link-inherit" data-transition="slide">
						<img src="{{ req.image.url }}" class="ui-li-thumb">
						<h3 class="ui-li-heading">{{ req.description|truncatewords:5 }}</h3>
						<p class="muted ui-li-desc">{% distance_to latitude longitude req.latitude req.longitude %}</p>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	{% include "includes/list-map-footer.html" %}
{% endblock content %}