{% extends "base.html" %}
{% load thumbnail places %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>List</h1>
		<a href="/" data-transition="pop"><i class="icon-th"></i></a>
	</div>

	<div data-role="content">
		<div>
			<p>Filter</p>
		</div>
		<ul data-role="listview">
			{% if requests %}
				{% regroup requests|dictsort:"status" by get_status_display as request_list %}
				{% for status in request_list %}
					<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-b">{{ status.grouper }} FixThis requests</li>
					{% for item in status.list %}
						{% include "includes/list_item.html" with fix=item distance="true" %}
					{% endfor %}
				{% endfor %}
			{% else %}
				<li>
					<h3 class="ui-li-heading">There are no requests near you.</h3>
				</li>
			{% endif %}
		</ul>
	</div>

	{% include "includes/list-map-footer.html" %}
{% endblock content %}