{% extends "base.html" %}
{% block id %}set-location{% endblock id %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<a href="/" data-direction="reverse" data-transition="slide">Cancel</a>
		<h1>Set Location</h1>
		<a id="continue" href="#" class="ui-disabled">Continue</a>
	</div>
	<div id="location-map"></div>
		<script type="text/javascript">
		var c;
		$('#set-location').on('pageshow', function() {
			var map = new GMaps({
				div: '#location-map',
			   	lat: 39.5,
  			 	lng: -98.35,
  			 	width: '100%',
  			 	height: $('body').height() + 'px',
  			 	zoom: 5,
  			 	panControl: false,
  			 	zoomControl: false,
  			 	streetViewControl: false,
  			 	mapTypeControl: false,
			});

			map.addControl({
			  position: 'top_left',
			  content: 'Current Location',
			  style: {
			    margin: '5px',
			    padding: '10px',
			    background: '#fff',
			    border: '1px solid #666',
			    'border-radius': '5px',
			    color: '#0064cd'
			  },

			  events: {
			    click: function(){
			    	$.mobile.loading( 'show' )
			    	useCurLocation()
			    }
			  }
			});

			map.addControl({
			  position: 'top_right',
			  content: 'Search',
			  style: {
			    margin: '5px',
			    padding: '10px',
			    background: '#fff',
			    border: '1px solid #666',
			    'border-radius': '5px'
			  },

			  events: {
			    click: function(){
			    	searchLocation()
			    }
			  }
			});

			function useCurLocation() {
				GMaps.geolocate({
				  success: function(position) {
				  	setLatLon(position.coords.latitude, position.coords.longitude)
				  	$.mobile.loading('hide')
				  	$('#continue').removeClass("ui-disabled")
				  },
				  error: function(error) {
				    alert('Geolocation failed: '+error.message);
				    $.mobile.loading('hide')
				  },
				});
			}

			function searchLocation() {
				$('#locationPopup').popup('open')
				$('#address').focus()
				$('#search').submit(function(e) {
					$.mobile.loading( 'show' )
					$('#locationPopup').popup('close')
					GMaps.geocode({
					  address: $('#address').val(),
					  callback: function(results, status) {
					    if (status == 'OK') {
					    	var latlng = results[0].geometry.location;
					    	map.setZoom(15);
					    	map.setCenter(latlng.lat(), latlng.lng());
					    	map.addMarker({
					    	  lat: latlng.lat(),
					    	  lng: latlng.lng()
					    	});

							$('#latitude').val(latlng.lat());
				    		$('#longitude').val(latlng.lng());
				    		$('#place').val(results[0].formatted_address);
				    		$.mobile.loading( 'hide' )
				    		$('#continue').removeClass("ui-disabled")
					    }
					  }
					});
					return false;
				})
			}

			function setLatLon(latitude, longitude) {
				map.setZoom(15);
			    map.setCenter(latitude, longitude);
			    map.addMarker({
				  lat: latitude,
				  lng: longitude,
				  title: 'Current Location',
				});
			    $('#latitude').val(latitude);
			    $('#longitude').val(longitude);

			    GMaps.geocode({
				  address: latitude + ', ' + longitude,
				  callback: function(results, status) {
				    if (status == 'OK') {
				    	c = results
						$('#place').val(results[0].formatted_address);
				    }
				  }
				});
			}
			$( "#locationPopup" ).bind({
		   		popupafteropen: function(event, ui) { 
		   			$('#address').focus() 
		   		}
			});

			$('#continue').click(function() {
				$('#fields').submit()
			})
		})

		</script>

		<div data-role="content">
			<form id="fields" action="{% url location %}?next={{ next }}" method="post" data-ajax="false">
				<input type="text" name="place" id="place" value="" readonly placeholder="Place" style="display:none;">
				<input type="text" name="latitude" id="latitude" value="" readonly placeholder="Latitude" style="display:none;">
				<input type="text" name="longitude" id="longitude" value="" readonly placeholder="Longitude" style="display:none;">
			</form>
		</div>

		<div data-role="popup" id="locationPopup" data-theme="a">
			<div style="padding:10px 20px;">
				<form id="search">
				  <input type="search" name="address" id="address" value="" placeholder="Address" width="300px">
				  <input type="submit" data-theme="b" value="Search" />
				</form>
			</div>	
		</div>
{% endblock content %}
