{% extends "base.html" %}
{% block id %}login{% endblock id %}
{% block content %}
	<div data-role="content">
		<h1 class="center"><i class="icon-wrench"></i> FixThis</h1>
		<br><br>
		<div id="login-buttons" data-role="controlgroup" data-type="horizontal" class="center">
			<a id="login-button"    href="#login-form" data-rel="popup" data-position-to="window" data-transition="pop" data-role="button" data-theme="c">Sign in</a>
			<a id="register-button" href="#register-form" data-rel="popup" data-position-to="window" data-transition="pop" data-role="button" data-theme="c">Register</a>
			<a id="skip-button" 	href="{% url skip %}" data-role="button" data-theme="c" data-transition="flow">Skip</a>
		</div>

		<div id="bottom-half">
			{% include "includes/auth_forms.html" %}
		</div>
	</div>

	<script type="text/javascript">
	// TODO: We need to clean this code up
		// $('#login-form').hide()
		// $(document).bind('pagechange' function() {
		// 	$('#register-form').hide()
	
		// 	$('#login-button').click(function(e) {
		// 		$('#login-buttons a').removeClass('ui-btn-active')
		// 		$(this).addClass('ui-btn-active')
		// 		$('#login-form').show()
		// 		$('#register-form').hide()
		// 	})
	
		// 	$('#register-button').click(function(e) {
		// 		$('#login-buttons a').removeClass('ui-btn-active')
		// 		$(this).addClass('ui-btn-active')
		// 		$('#login-form').hide()
		// 		$('#register-form').show()
		// 	})
	
			// $('#skip-button').click(function(e) {
			// 	$.cookie('skip', 'True')
			// })
		// })
	</script>
{% endblock %}