{% extends "base.html" %}
{% load thumbnail places %}
{% block id %}map-view{% endblock id %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>Map</h1>
		<a href="/" data-direction="reverse" data-transition="flow"><i class="icon-th"></i></a>
		<a href="{% url add-request %}" data-transition="slidedown" data-rel="dialog"><i class="icon-plus"></i> Submit</a>
	</div>
	<div id="map">
	</div>
	<script>
  $('#map-view').on('pageshow', function() {
  	 var map = new GMaps({
      		div: '#map',
      		lat: {{ latitude }},
      		lng: {{ longitude }},
      		width: '100%',
      		height: '430px',
          panControl: false,
          zoomControl: false,
          streetViewControl: false,
          mapTypeControl: false,
  	 });

     var c = map.addMarker({
      lat: {{ latitude }},
      lng: {{ longitude }},
     })

     {% for req in requests %}
      map.addMarker({
        lat: {{ req.latitude }},
        lng: {{ req.longitude }},
          icon: '{% thumbnail req.image 'small' %}',
        click: function(e) {
          $('#popup-{{ req.id }}').popup("open")
        }
      });
     {% endfor %}
   })
	</script>
  {% for req in requests %}
    <div id="popup-{{ req.id }}" data-role="popup" data-theme="a" data-overlay-theme="a">
      <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="b">
          <li data-theme="a">{{ req.description }}</li>
          <li data-theme="a">Status: {{ req.get_status_display }}</li>
          <li data-theme="a">{% distance_to latitude longitude req.latitude req.longitude %} from you</li>
          <li data-theme="b"><a href="{% url detail-request req.id %}">More info</a></li>
        </ul>
    </div>
  {% endfor %}
	{% include "includes/list-map-footer.html" %}
{% endblock content %}