{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>{{ request.user }}'s FixThis</h1>
		<a href="{% url home 5}" data-rel="back" data-transition="pop"><i class="icon-th"></i></a>
	</div>
	
	<div data-role="content">
		<ul data-role="listview">
			<li data-role="list-divider">Things you need to fix</li>
			{% if assigned %}
				{% for req in assigned %}
					{% include "includes/list_item.html" with fix=req %}
				{% endfor %}
			{% else %}
				<li>
					<h3 class="ui-li-heading">You don't have any requests.</h3>
				</li>
			{% endif %}

			<li data-role="list-divider">Things you want fixed</li>
			{% if submitted %}
				{% for req in submitted %}
					{% include "includes/list_item.html" with fix=req %}
				{% endfor %}
			{% else %}
				<li>
					<h3 class="ui-li-heading">You don't have any requests.</h3>
				</li>
			{% endif %}
		<ul>
	</div>
	{% include "includes/list-map-footer.html" %}
{% endblock content %}
 