{% extends "base.html" %}
{% block id %}submit{% endblock id %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>Submit</h1>
		<a href="/" data-rel="back" data-transition="pop">Cancel</a>
	</div>

	<div data-role="content">
		<div class="submit-form" data-role="fieldcontain">
			{# TODO: Make markup prettier (remove BRs) #}
			<div href="#" id="upload_override" class="add_image">
				<i class="icon-camera"></i>
				<h2>Tap to add photo</h2>
			</div>
			<form id="submit-form" enctype="multipart/form-data" action="{% url add-request %}" method="POST" data-ajax="false">
				{% csrf_token %}
				{{ form.as_p }}
				<input id="submit-button" type="submit" value="Submit" data-theme="b" />
			</form>
		</div>
	</div>

	{# <div data-role="footer" data-position="fixed" class=""> #}
		{# <div data-role="navbar"> #}
			{# <ul> #}
				{# <li><a href="#" data-rel="back" data-theme="c"><i class="icon-remove"></i> Cancel</a></li> #}
				{# <li><a href="#" data-theme="b"><i class="icon-plus"></i> Submit</a></li> #}
			{# </ul> #}
		{# </div> #}
	{# </div> #}
	<script type="text/javascript">
		// This snippet allows us to pull up the image selector when a user taps the "Tap to add image" icon
		$('#upload_override').click(function(e) { $('#id_image').click() })
		if($.cookie('userLat')) {$('#id_latitude').val($.cookie('userLat'))}  
		if($.cookie('userLon')) {$('#id_longitude').val($.cookie('userLon'))}  

		$("#submit").on('pagebeforeshow', function(event, data) {
			var prev_url = data.prevPage.attr('data-url')
   			console.log("the previous page was: " + prev_url);
   			if (prev_url) {
   				$('#submit-form').attr('action', $('#submit-form').attr('action') + "?next=" + prev_url)
   			}
		});
	
		// $('#photo-input').on('change', function () {
		// 	console.log($(this).val())
		// 	$(this).parent().ajaxSubmit(function(d) {
		// 		$('#upload_override').css('background-image', 'url(\''+d+'\')');
		// 	})
		// })
		// $('#submit-button').click(function(e) {
		// 	$('#submit-form').ajaxSubmit(function(d) {
		// 		alert($('#submit-form', d).html())
		// 		$(this).html()
		// 	})
		// })
	</script>
{% endblock content %}