{% extends "base.html" %}
{% block id %}submit{% endblock id %}
{% block content %}
	<div class="toolbar" data-role="header" data-position="fixed" data-theme="b">
		<h1>Submit</h1>
		<a href="/" data-direction="reverse" data-transition="pop">Cancel</a>
	</div>

	<div data-role="content">
		<div class="submit-form" data-role="fieldcontain">
			{# TODO: Make markup prettier (remove BRs) #}
			<div href="#" id="upload_override" class="add_image">
				<i class="icon-camera"></i>
				<h2>Tap to add photo</h2>
			</div>
			<form id="submit-form" enctype="multipart/form-data" action="{% url add-request %}" method="POST" data-ajax="false">
				{% csrf_token %}
				<ul data-role="listview" data-inset="true">
				{% for field in form %}

				{% if field.label = "Location" %}
					<li class="fieldWrapper" data-role="fieldcontain">
						<label for="id_location">Location</label>
						<input type="text" name="location" id="id_location" readonly value="{{ place }}">
					</li>
				{% else %}

				{% if field.label = "Latitude" %}
					<input type="text" name="latitude" value="{{ latitude }}" style="display: none;">
				{% else %}
				{% if field.label = "Longitude" %}
        			<input type="text" name="longitude" value="{{ longitude }}" style="display: none;">
        		{% else %}
        		<li class="fieldWrapper {% if field.errors %}errors{% endif %}" data-role="fieldcontain">
        			{# {{ field.errors }} #}
        			{{ field.label_tag }} {{ field }}
        		</li>
    			{% endif %}
    			{% endif %}
    			{% endif %}
    			{% endfor %}
    			</ul>
				<input id="submit-button" type="submit" value="Submit" data-theme="b" />
			</form>
		</div>
	</div>
	{# <div data-role="popup" id="popupLocation" data-theme="a"> #}
			{# <form> #}
				{# <div style="padding:10px 20px;"> #}
				  {# <input type="text" id="custom_address" /> #}
				{# </div> #}
			{# </form> #}
		{# </div> #}

	{# <div data-role="footer" data-position="fixed" class=""> #}
		{# <div data-role="navbar"> #}
			{# <ul> #}
				{# <li><a href="#" data-rel="back" data-theme="c"><i class="icon-remove"></i> Cancel</a></li> #}
				{# <li><a href="#" data-theme="b"><i class="icon-plus"></i> Submit</a></li> #}
			{# </ul> #}
		{# </div> #}
	{# </div> #}
	<script type="text/javascript">
		$('#id_description').attr('placeholder', 'Description')

		// This snippet allows us to pull up the image selector when a user taps the "Tap to add image" icon
		$('#upload_override').click(function(e) { $('#id_image').click() })

		if($.cookie('userLat')) {$('#id_latitude').val($.cookie('userLat'))}  
		if($.cookie('userLon')) {$('#id_longitude').val($.cookie('userLon'))}  

		$("#submit").on('pagebeforeshow', function(event, data) {
			var prev_url = data.prevPage.attr('data-url')
   			console.log("the previous page was: " + prev_url);
   			//problem: activates if statement even when prev_url is undefined?
   			if (prev_url) {
   				$('#submit-form').attr('action', $('#submit-form').attr('action') + "?next=" + prev_url)
   			}
		});

		$('#id_image').on('change', function () {
			var file = this.files[0];
			// $('#upload_override').append("<img />")
			var image = $('#upload_override')
			reader = new FileReader();
			reader.onload = function (e) {
				image.css('background-image', 'url('+e.target.result+')')
				image.css('background-size', 'cover')
				$('#upload_override h2, #upload_override i').hide()
				$('#upload_override').height('250px')
			}
			reader.readAsDataURL(file);
		})
		// $('#submit-button').click(function(e) {
		// 	$('#submit-form').ajaxSubmit(function(d) {
		// 		alert($('#submit-form', d).html())
		// 		$(this).html()
		// 	})
		// })
	</script>
{% endblock content %}