<!DOCTYPE html> 
<html> 
<head> 
	<title>FixThis</title> 

	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
	<link rel="stylesheet/less" type="text/css" href="/static/less/master.less">

	<!-- libraries -->
	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.3.0/less-1.3.0.min.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	{# <script src="http://documentcloud.github.com/underscore/underscore.js"></script> #}
	{# <script src="http://backbonejs.org/backbone.js"></script> #}

	<!-- app -->
	{# <script type="text/javascript" src="/static/js/app/main.js"></script> #}
	{# <script type="text/javascript" src="/static/js/app/utils.js"></script> #}
	{# <script type="text/javascript" src="/static/js/app/routing.js"></script> #}
	{# <script type="text/javascript" src="/static/js/app/views/login.js"></script> #}
	{# <script type="text/javascript" src="/static/js/app/views/dashboard.js"></script> #}
</head> 
<body>
{% block content %}{% endblock content %}

	<script type="text/javascript">
			// TODO: We need to clean this code up
			$(window).on('pagechange', function() {
				$('#login-form').hide()
			$('#register-form').hide()

			$('#login-button').click(function(e) {
				$('#login-buttons a').removeClass('ui-btn-active')
				$(this).addClass('ui-btn-active')
				$('#login-form').show()
				$('#register-form').hide()
			})

			$('#register-button').click(function(e) {
				$('#login-buttons a').removeClass('ui-btn-active')
				$(this).addClass('ui-btn-active')
				$('#login-form').hide()
				$('#register-form').show()
			})
			})
	</script>
</body>
</html>
