{% load places thumbnail %}
<li>
	<a href="{% url detail-request fix.id %}" class="ui-link-inherit" data-transition="slide">
   		<img src="{% thumbnail fix.image '200x200' %}" alt="thumbnail">	
		<h3 class="ui-li-heading">{{ fix.description|truncatewords:5 }}</h3>
		{% if distance %}
			<p class="muted ui-li-desc">{% distance_to latitude longitude fix.latitude fix.longitude %} miles from you</p>
		{% endif %}
		<span class="ui-li-count urgency-{{ fix.urgency }}">{{ fix.urgency }}</span>
		<a href="#" data-icon="delete">Delete this request</a>
		{# TODO: Add split button for deleting #}
		{# TODO: Add submitted by #}
	</a>
</li>